.homeHeadingBox {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.globalWarmingImage {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  pointer-events: none;
  filter: grayscale(40%);
  mask-image: linear-gradient(rgba(0, 0, 0, 1), transparent);
}
.homeHeadingBox > h1 {
  z-index: 50;
  color: #fff;
  font-size: 60px;
  margin-top: -100px;
  text-shadow: 3px 3px 3px #000;
}
.homeHeadingBox > h2 {
  color: #fff;
  z-index: 50;
  margin-top: 100px;
  font-size: 40px;
  text-shadow: 2px 2px 2px #000;
}
.homeHeadingBox > h3 {
  font-size: 50px;
  margin-top: 100px;
  color: #fff;
  z-index: 50;
  margin-bottom: 10px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
}
.countdownTimer {
  z-index: 50;
  width: 550px;
  display: flex;
  justify-content: space-between;
}
.countdownTimer > h3 {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  font-size: 50px;
}
.aboutGlobalWarmingBox {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 50px;
  flex-direction: column;
}
.aboutGlobalWarmingBox > h1 {
  color: #333;
  margin-bottom: 100px;
  font-size: 30px;
}
.aboutGlobalWarming {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.aboutGlobalWarming > img {
  width: 300px;
}
.aboutGlobalWarming > p {
  margin: 0 80px;
  font-size: 20px;
  color: #313131;
  font-weight: 500;
}
.stoppingClimateChangeBox {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
}
.howToStopContainer {
  width: 300px;
  height: 350px;
  border: 1px solid #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  justify-content: center;
}
.stoppingClimateChangeBox > h1 {
  font-size: 30px;
  color: #333;
}
.howToStopContainer > img {
  width: 80%;
  padding: 10px;
  max-width: 200px;
}
.howToStopContainer > p {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}
.stopChangeRow {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}
.sourcesSectionBox {
  width: 100%;
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}
.sourcesSectionBox > h1 {
  font-size: 30px;
  color: #333;
}
.sourcesSectionBox > p {
  font-size: 25px;
  color: #333;
  margin-top: 20px;
  text-align: center;
}
.sourcesSectionBox > img {
  width: 800px;
  margin-top: 30px;
}
.colorContainer {
  width: 500px;
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: space-between;
}
.aboutColor {
  display: flex;
  align-items: center;
}
.coloredSquare {
  width: 15px;
  height: 15px;
  border: 1px solid #333;
  margin-right: 5px;
}
.yellowColoredSquare {
  background-color: #fff259;
}
.brownColoredSquare {
  background-color: #ad7e63;
}
.greenColoredSquare {
  background-color: #8dce50;
}
.whiteColoredSquare {
  background-color: #fff;
}
.sourcesSectionBox > h2 {
  margin-top: 40px;
}
.sourcesContainer {
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.sourcesContainer > a {
  color: #333;
}
.sourcesContainer > a > p {
  font-size: 20px;
}
.videoContainer {
  width: 65%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.inVisibleImage {
  display: none;
}
@media (max-width: 1800px) {
  .aboutGlobalWarming {
    width: 90%;
  }
}
@media (max-width: 1420px) {
  .stopChangeRow {
    width: 90%;
  }
  .videoContainer {
    width: 115%;
    justify-content: space-between;
  }
  .colorContainer {
    margin-top: 10px;
  }
  .stoppingClimateChangeBox {
    width: 100%;
  }
  .stopChangeRow {
    justify-content: space-between;
    width: 100%;
  }
}
@media (max-width: 1243px) {
  .stoppingClimateChangeBox {
    margin-top: 50px;
  }
}
@media (max-width: 1114px) {
  .stoppingClimateChangeBox {
    margin-top: 100px;
  }
  .aboutGlobalWarming {
    width: 100%;
  }
}
@media (max-width: 1085px) {
  .howToStopContainer {
    width: 250px;
  }
}
@media (max-width: 979px) {
  .stoppingClimateChangeBox {
    margin-top: 200px;
  }
  .youtubeLink {
    width: 400px;
    height: 200px;
  }
}
@media (max-width: 939px) {
  .aboutGlobalWarmingBox {
    height: 150vh;
    flex-direction: column;
  }
  .aboutGlobalWarming {
    flex-direction: column;
  }
  .aboutGlobalWarming > img {
    margin-bottom: 50px;
  }
  .inVisibleImage {
    display: flex;
  }
  .visibleImage {
    display: none;
  }
  .sourcesContainer {
    margin-top: 10px;
  }
  .stoppingClimateChangeBox {
    height: 150vh;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .stopChangeRow {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  }
  .columnContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 0 15%;
  }
}
@media (max-width: 801px) {
  .sourcesSectionBox > img {
    width: 600px;
  }
}
@media (max-width: 745px) {
  .columnContainer {
    width: 120%;
  }
  .videoContainer {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 600px;
  }
  .sourcesSectionBox {
    height: 140vh;
  }
  .aboutGlobalWarmingBox {
    height: 170vh;
  }
}
@media (max-width: 661px) {
  .aboutGlobalWarmingBox {
    height: 180vh;
  }
  .sourcesSectionBox > img {
    width: 500px;
  }
}
@media (max-width: 790px) {
  .stoppingClimateChangeBox {
    padding: 0;
  }
  .columnContainer {
    width: 100%;
    padding: 0 10%;
    margin: 0;
  }
  .countdownTimer {
    width: 300px;
  }
  .countdownTimer > h3 {
    font-size: 20px;
  }
  .homeHeadingBox > h1 {
    font-size: 50px;
  }
  .homeHeadingBox > h2 {
    font-size: 30px;
  }
  .homeHeadingBox > h3 {
    font-size: 40px;
  }
}
@media (max-width: 653px) {
  .sourcesSectionBox > h1 {
    text-align: center;
  }
  .columnContainer {
    width: 120%;
    padding-left: 15%;
    margin: 0;
  }
}
