.homeHeadingBox {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.globalWarmingImage {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  pointer-events: none;
  filter: grayscale(40%);
  mask-image: linear-gradient(rgba(0, 0, 0, 1), transparent);
}
.homeHeadingBox > h1 {
  z-index: 50;
  color: #fff;
  font-size: 60px;
  margin-top: -100px;
  text-shadow: 3px 3px 3px #000;
}
.homeHeadingBox > h2 {
  color: #fff;
  z-index: 50;
  margin-top: 100px;
  font-size: 40px;
  text-shadow: 2px 2px 2px #000;
}
.countdownTimer {
  z-index: 50;
  width: 550px;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.countdownTimer > h3 {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  font-size: 50px;
}
.aboutGlobalWarmingBox {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 50px;
  flex-direction: column;
}
.aboutGlobalWarmingBox > h1 {
  color: #333;
  margin-bottom: 100px;
  font-size: 30px;
}
.aboutGlobalWarming {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.aboutGlobalWarming > img {
  width: 300px;
}
.aboutGlobalWarming > p {
  margin: 0 80px;
  font-size: 20px;
  color: #313131;
  font-weight: 500;
}
.stoppingClimateChangeBox {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
}
.howToStopContainer {
  width: 300px;
  height: 350px;
  border: 1px solid #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  justify-content: center;
}
.stoppingClimateChangeBox > h1 {
  font-size: 30px;
  color: #333;
}
.howToStopContainer > img {
  width: 80%;
  padding: 10px;
  max-width: 200px;
}
.howToStopContainer > p {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}
.stopChangeRow {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}
