.homeHeadingBox {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.globalWarmingImage {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  pointer-events: none;
  filter: grayscale(40%);
  mask-image: linear-gradient(rgba(0, 0, 0, 1), transparent);
}
.homeHeadingBox > h1 {
  z-index: 50;
  color: #fff;
  font-size: 60px;
  margin-top: -100px;
  text-shadow: 3px 3px 3px #000;
}
.homeHeadingBox > h2 {
  color: #fff;
  z-index: 50;
  margin-top: 100px;
  font-size: 40px;
  text-shadow: 2px 2px 2px #000;
}
.countdownTimer {
  z-index: 50;
  width: 550px;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.countdownTimer > h3 {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  font-size: 50px;
}
.aboutGlobalWarmingBox {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 100px;
}
.aboutGlobalWarmingBox > h1 {
  color: #fff;
}
.aboutGlobalWarming {
}
